<p id="notice"><%= notice %></p>

<p>
  <strong>Countryid:</strong>
  <%= @countrydb.countryid %>
</p>

<p>
  <strong>Carbonten:</strong>
  <%= @countrydb.carbonten %>
</p>

<p>
  <strong>Carboneight:</strong>
  <%= @countrydb.carboneight %>
</p>

<p>
  <strong>Gdpten:</strong>
  <%= @countrydb.gdpten %>
</p>

<p>
  <strong>Gdpeight:</strong>
  <%= @countrydb.gdpeight %>
</p>

<%= link_to 'Edit', edit_countrydb_path(@countrydb) %> |
<%= link_to 'Back', countrydbs_path %>
